@import '../../assets/variables.scss';

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  &__title {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.85;
    color: $black;
    margin: 0;
  }

  &__link {
    opacity: 0.85;
    color: $black;
    text-decoration: none;
    display: flex;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__username {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.85;
    color: $black;
    margin: 0;
  }
}
