// Colors

$white: #fff;
$black: #000;
$prime: #262626;
$grey-dark: #8c8c8c;
$grey: #bfbfbf;
$grey-light: #d9d9d9;
$light: #e8e8e8;
$accent: #1890ff;
$additional: #52c41a;
$alert: #f5222d;

// Fonts

$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;
